.root {
	-fx-background-color: grey;
}

.menu-bar{
	-fx-background-color:  	#282828;
	-fx-focused-text-base-color: white ;
	-fx-selection-bar: #ea5353 ;
	-fx-opacity: 0.85;
}

.menu .label{
	-fx-text-fill: white;
}

.menu-item{
	-fx-background-color: #383838;
}

.menu-item:hover {
	-fx-background-color:  	#585858;
}

.context-menu {
	-fx-background-color:  	#282828;
	-fx-opacity: 0.85;
	-fx-background-radius: 1px;
}



.button:hover {
	-fx-opacity: 0.8;
}

VBox{
	-fx-background-color:  	#282828;
}

.slider .track{
    -fx-control-inner-background: #ea5353!important;
    -fx-padding: 3.5; 
    -fx-background-insets: 0 0 0 ,0,0;
}

.slider .thumb {
	-fx-background-color: white!important;
}






